.features-container {
  background: #323252;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-bottom: 80px;

  .wave {
    position: absolute;
    left: 0;
    bottom: -15%;
    width: 100%;
    z-index: -1;
  }
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;

    .card {
      background: white;
      margin: 0rem 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 1rem;
      overflow: hidden;

      h4 {
        margin: 3rem 0rem 1rem 0rem;
      }
      p {
        padding: 2rem;
      }
      img {
        object-fit: cover;
      }
    }
  }
}
